$fill: rgb(64, 43, 122);

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

path.cls-2:hover {
    fill: $fill;
}
polygon.cls-2:hover {
    fill: $fill;
}

* {
    box-sizing: border-box;
}

#floor1,
#floor2,
#floor3 {
    display: grid;
    grid-template-columns: 5fr 2fr;
    background-color: $fill;
    gap: 1rem;
    border: 2px solid black;
    padding: 1rem;
}

@media only screen and (max-width: 768px) {
    #floor1,
    #floor2,
    #floor3 {
        display: grid;
        grid-template-columns: 1fr;
        background-color: $fill;
        gap: 1rem;
        border: 2px solid black;
        padding: 1rem;
    }
}

#floor1map,
#floor2map,
#floor3map {
    border: 2px solid black;
    max-width: 1000px;
    min-width: 100px;
    height: auto;
    background-color: white;
}

#floor1rooms,
#floor2rooms,
#floor3rooms {
    border: 2px solid black;
    background-color: white;
}

#main-div {
    display: grid;
    place-items: center;
}
