path.st0:hover,
polygon.st0:hover {
  fill: #d8d8d8;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

#navbar {
  height: 120px;
  width: 100%;
  background-color: #402b7a;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: white;
  margin: 0;
  margin-bottom: 1rem;
  z-index: 1;
}

#main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main-div #map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#main-div #map svg {
  max-width: 2000px;
  min-width: 100px;
  height: auto;
}

#main-div #sidebar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: calc(120px + 1rem);
  height: calc(100vh - 140px);
  overflow-y: auto;
  z-index: 2;
  background-color: white;
  text-align: center;
  border: 2px solid #402b7a;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px #402b7a;
          box-shadow: 0px 0px 4px #402b7a;
}

@media only screen and (max-width: 768px) {
  #main-div #sidebar {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 768px;
    min-width: 200px;
    margin: 1rem;
  }
}

#main-div #sidebar #changefloor {
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 2px solid #402b7a;
  background-color: white;
  -webkit-box-shadow: 0px 0px 4px #402b7a;
          box-shadow: 0px 0px 4px #402b7a;
}

#main-div #sidebar #changefloor #floor1button,
#main-div #sidebar #changefloor #floor2button,
#main-div #sidebar #changefloor #floor3button {
  background-color: white;
  font-size: 1rem;
  padding: 0.5em 1em 0.5em 1em;
  border: 2px solid #402b7a;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px #402b7a;
          box-shadow: 0px 0px 4px #402b7a;
  color: #402b7a;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#main-div #sidebar #changefloor #floor1button.active, #main-div #sidebar #changefloor #floor1button:hover,
#main-div #sidebar #changefloor #floor2button.active,
#main-div #sidebar #changefloor #floor2button:hover,
#main-div #sidebar #changefloor #floor3button.active,
#main-div #sidebar #changefloor #floor3button:hover {
  background-color: #402b7a;
  color: white;
  cursor: pointer;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

#main-div #sidebar #changefloor #floor1button:active,
#main-div #sidebar #changefloor #floor2button:active,
#main-div #sidebar #changefloor #floor3button:active {
  background-color: #402b7a;
  color: white;
  cursor: pointer;
  background-color: #7359bb;
}

#main-div #sidebar #rooms #floor1rooms ul,
#main-div #sidebar #rooms #floor2rooms ul,
#main-div #sidebar #rooms #floor3rooms ul {
  list-style-type: none;
  padding: 0px;
}

#main-div #sidebar #rooms #floor1rooms ul button,
#main-div #sidebar #rooms #floor2rooms ul button,
#main-div #sidebar #rooms #floor3rooms ul button {
  font-size: 1.5rem;
  padding: none;
  margin: 0px 0px 3px 0px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: rgba(0, 0, 0, 0.5);
}

#main-div #sidebar #rooms #floor1rooms ul button:hover, #main-div #sidebar #rooms #floor1rooms ul button.active,
#main-div #sidebar #rooms #floor2rooms ul button:hover,
#main-div #sidebar #rooms #floor2rooms ul button.active,
#main-div #sidebar #rooms #floor3rooms ul button:hover,
#main-div #sidebar #rooms #floor3rooms ul button.active {
  cursor: pointer;
  border-bottom: 3px solid #402b7a;
  margin: 0px 0px 0px 0px;
  color: black;
}

@-webkit-keyframes slide {
  from {
    margin-left: -20%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes slide {
  from {
    margin-left: -20%;
  }
  to {
    margin-left: 0;
  }
}

#window {
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  width: 20%;
  height: 100%;
  border-right: 1px solid #969696;
  background-color: #ebebeb;
}

#window .info {
  padding: 10px;
  text-align: center;
}

#window .info .foto {
  width: 80%;
  height: auto;
}

#window .info button {
  float: right;
  text-align: right;
  padding: 2px 2px 0 2px;
  background-color: #ebebeb;
  border: none;
  border-radius: 10px;
}

#window .info button:hover {
  background-color: #cfcfcf;
}

#window .info button img {
  width: 24px;
  height: 24px;
}

#window .info h3 {
  margin-top: 30px;
  margin-bottom: 0;
}

#window .info h6 {
  margin-top: 5px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */